<p>Привет <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Мы свяжемся с вами, чтобы уведомить вас о том, что ваша электронная почта изменилась to <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Мы свяжемся с вами, чтобы уведомить вас о том, что ваша электронная почта изменилась <%= @resource.email %>.</p>
<% end %>
